<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CardPlayer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CardPlayer</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @{  string DisabledStyle = " disabled fw-italic";
                            string EnabledStyle = " enabled font-weight-bold";
                            string LinkAttributes = "nav-link text-dark";
                        }
                        @{  if ((bool)ViewData["PlayerCreated"])
                                LinkAttributes += DisabledStyle;
                            else
                                LinkAttributes += EnabledStyle;
                        }
                        <li class="nav-item">
                            <a class="@LinkAttributes" asp-area="" asp-controller="Home"
                               asp-action="CreatePlayer">Create Player</a>
                        </li>
                        @{  LinkAttributes = "nav-link text-dark";
                            if ((bool)ViewData["GameCreated"])
                                LinkAttributes += DisabledStyle;
                            else
                                LinkAttributes += EnabledStyle;
                        }
                        <li class="nav-item">
                            <a class="@LinkAttributes" asp-area="" asp-controller="Home"
                               asp-action="CreateGame">Create Game</a>
                        </li>
                        @{  LinkAttributes = "nav-link text-dark";
                            if ((bool)ViewData["PlayerJoinedGame"] || 
                                !(bool)ViewData["GameCreated"] ||
                                !(bool)ViewData["PlayerCreated"])
                                LinkAttributes += DisabledStyle;
                            else
                                LinkAttributes += EnabledStyle;
                        }
                        <li class="nav-item">
                            <a class="@LinkAttributes" asp-area="" asp-controller="Home"
                               asp-action="JoinGame">Join Game</a>
                        </li>
                        @{ LinkAttributes = $"nav-link text-dark {EnabledStyle}"; }
                        <li class="nav-item">
                            <a class="@LinkAttributes" asp-area="" asp-controller="Home"
                               asp-action="Reshuffle">Reshuffle</a>
                        </li>
                        <li class="nav-item">
                            <a class="@LinkAttributes" asp-area="" asp-controller="Home"
                               asp-action="Shuffled">Shuffled</a>
                        </li>
                        <li class="nav-item">
                            <a class="@LinkAttributes" asp-area="" asp-controller="Home"
                               asp-action="ShuffledAndSuited">Shuffled and Suited</a>
                        </li>
                        @{  LinkAttributes = "nav-link text-dark";
                            if ((bool)ViewData["PlayerJoinedGame"])
                                LinkAttributes += EnabledStyle;
                            else
                                LinkAttributes += DisabledStyle;
                        }
                        <li class="nav-item">
                            <a class="@LinkAttributes" asp-area="" asp-controller="Home"
                               asp-action="DealHand">Deal Hand</a>
                        </li>
                        @{  LinkAttributes = "nav-link text-dark";
                            if ((bool)ViewData["PlayerJoinedGame"])
                                LinkAttributes += EnabledStyle;
                            else
                                LinkAttributes += DisabledStyle;
                        }
                        <li class="nav-item">
                            <a class="@LinkAttributes" asp-area="" asp-controller="Home"
                               asp-action="DrawCard">Draw a Card</a>
                        </li>
                        @{  LinkAttributes = "nav-link text-dark";
                            if ((bool)ViewData["GameCreated"])
                                LinkAttributes += EnabledStyle;
                            else
                                LinkAttributes += DisabledStyle;
                        }
                        <li class="nav-item">
                            <a class="@LinkAttributes" asp-area="" asp-controller="Home"
                               asp-action="ShowHands">Show Hands</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CardPlayer - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
