@model AddedPlayerViewModel

@{
    ViewData["Title"] = "AddedToGame";
}

@{ var OkToAdd = Model.PlayerAdded || !Model.PlayerIsNew || (Model.PlayerIsNew && !Model.GameIsFull); }

@if (!OkToAdd)
{
    <h1>Unable to add player "@Model.PlayerName". Game full.</h1>
}
else
{
    <h1>
        Player "@Model.PlayerName" selected
        @if (Model.PlayerIsNew)
        {
            <span>and added to the game.</span>
        }
        else
        {
            <span>for the current game.</span>
        }
    </h1>
}

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxPlayers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxPlayers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentPlayers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentPlayers)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
